{%extends('base.html.twig')%}

{% block body %}
<h1> Login </h1>
<form action="{{path('security.login')}}" method="post">
    <div class="form-group" >
    <input placeholder="User name" required name="_username" type="text" class="form-control">
    <input placeholder="Password" required name="_password" type="password" class="form-control">
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-outline-success">Login</button>
    </div>
</form>
{% endblock %}