{%extends('base.html.twig')%}

{% block body %}
<h1> Register </h1>
{{form_start(form)}}
{{form_row(form.name, {'attr':{'placeholder':'Enter your user name'}})}}
{{form_row(form.email, {'attr':{'placeholder':'Enter a valid e-mail adress'}})}}
{{form_row(form.password, {'attr':{'placeholder':'Enter a minimum 8 characters password'}})}}
{{form_row(form.confirm_password, {'attr':{'placeholder':'Confirm the same password'}})}}
<button type="submit" class ="btn btn-success"> Register </button>
{{form_end(form)}}
{% endblock %}


