{% extends 'base.html.twig' %}

{% form_theme cardForm  'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        {% if editMode %}
            Modifer Carte
        {% else %}
            Nouvelle Carte
        {% endif %}
    </h1>

    {{ form_start(cardForm) }}
    {{ form_row(cardForm.name, {'attr':{'placeholder':'Nom de la carte'}}) }}
    {{ form_row(cardForm.image,{'attr':{'placeholder':'image.png'}}) }}

    <button type="submit" class ="btn btn-outline-success">
        {% if editMode %}
            Modifier
        {% else %}
            Ajouter
        {% endif %}
    </button>

    {{ form_end(cardForm) }}
{% endblock %}