{% extends 'base.html.twig' %}

{% block body %}

    <h1> Campain </h1>

    {% for i in 0..9 %}

    <a 
       
        {% if i <= app.user.level%}
            href="{{ path('mission',{'id':i}) }}"
            class="btn btn-outline-success"
        {% else %}
            class="btn btn-outline-secondary"
        {% endif %}
    >
        Mission {{ i+1 }}
    </a>

     <br><br>
    
{% endfor %}

{% endblock %}