{% extends 'base.html.twig' %}

{% block body %}

    <h1> All the cards </h1>

    {% for card in allCards %}

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">
                {{card.name}}
            
            </div>
                <div class="card-body">
                {%if card.image != null%}
                    <img src="{{card.image}}"></img>
                    
                {%else%}
                    <img src="http://placehold.it/120x180"></img>
                {%endif%}
            </div>
        </div>

    {%endfor%}

{% endblock %}