{% extends 'base.html.twig' %}

{% block body %}

    <h1> Mission {{missionID+1}}</h1>
    <br><br>
<a href="{{ path('complete.mission',{'id':missionID}) }}" class="btn btn-outline-success">Complete Mission {{missionID+1}}</a>
    

{% endblock %}