<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Mars Colonies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
               
                
                   
                {% if app.user and app.user.role=="ADMIN" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('create.card') }}">New Card</a>
                    </li>
                {% endif %}

                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security.login') }}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cardslist')}}">Cards List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security.logout') }}">Logout</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about') }}">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
