{% extends 'base.html.twig' %}

{% block body %}

    <h1> MARS COLONIES Welcome</h1>
    <br>

    {% if app.user %}
        <h3> You are logged as {{ app.user.username }}</h3><br>
        <a href="{{ path('campain') }}" class="btn btn-outline-success">Campain</a><br><br>
        <a href="{{ path('home') }}" class="btn btn-outline-success">Deck Editor</a><br><br>
        <a href="{{ path('home') }}" class="btn btn-outline-success">Multiplayer</a><br><br>
        <a href="{{ path('security.logout') }}" class="btn btn-outline-danger">Logout</a><br><br>
    {% else %}
        <h3>Mars Colonies is an online, turned based, card game.</h3><br>
        <h3>You must be logged to play.</h3><br>
        <a href="{{ path('security.login') }}" class="btn btn-outline-success">Login</a>
        <br><br><br>
        <h3>If you don't have an account yet, please consider creating one.</h3><br>
        <a href="{{ path('security.register') }}" class="btn btn-outline-success">Register</a>
    {% endif %}
    
    
  

{% endblock %}

